@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

/*Padronização e Ajustes iniciais*/

* {
    padding: 0;
    margin: 0;               /*Limpou o Estilo básico do HTML*/
    box-sizing: border-box;
}


html {
    font-size: 10px;
    scroll-behavior: smooth;     /* font-size: Padronizar fonte. Scroll behavior: é pro rolamento ficar melhor*/
    font-family: 'Poppins', 'Times New Roman', Times, serif ;
}


a, a:visited{
    text-decoration: none;
}
#buy a,  #portfolio a, #portfolio a:visited, #buy a:visited{
    color: inherit;
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

ol {
    font-size: 1.3rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    list-style-type: none;
}


/*Seção de Apresentação*/

.presentation-container {
    min-height: 100vh;
    width: 100%;  
    display: flex;       /*display:flex; :Serve para qualquer dispositivo*/
    align-items: center;
    justify-content: center;
}


#presentation {
    background-image: url(./How-to-Become-a-Software-Engineer.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;    /* Position: relative ;Por conta de dispositivos diferentes*/
    z-index: 1;
}

#presentation h1 {
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;  /* forwards é pra alteração se manter*/
    animation-delay: .5s;
}


#presentation h1:nth-child(1) {
    animation-delay: 0.8s;
}

#presentation h1:nth-child(2) {
    animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {
    animation-delay: 2.8s;
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s
}


#presentation .cta {
    display: inline-block;
    margin-right: 5px;
    padding: 10px 30px;
    color: gold;
    background-color: transparent;
    border: 2px solid  gold;
    left: 300px;
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-top: 2px;
    transition: .5s ease;
    transition-property: background-color, color;
}


#presentation .cta:hover {
    color: white;
    font-weight: 500;
    background-color: gold;
}


#presentation h1 span {   /*A Parte de span é a caixa amarela que passa no texto*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}


#presentation h1:nth-child(1) span {
    animation-delay: .5s;
}
#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#presentation h1:nth-child(3) span {
    animation-delay: 2.5s;   
}


#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}


/*Seção Portifólio*/


#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}


#portfolio .portfolio-header {
    margin-bottom: 50px;
}


#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#portfolio .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}


#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #163469 0%, #060e1f 100%);
    color: white;
    
}


#portfolio .project-info h1 {
    font-size:  4rem; ;
    font-weight: 500px;
}


#portfolio .project-info h2 {
    font-size:  1.8rem; ;
    font-weight: 500px;
    margin-top: 10px;
}


#portfolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}


#portfolio .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.3;
}


#portfolio .project-img img {
    transition: 0.5s ease transform;
}


#portfolio .project-item:hover .project-img img{
    transform: scale(1.1);
}


.section-tittle {
    font-size: 4rem;
    font-weight: 500px;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 0.2rem;
    margin-top: 5px;
}


/*Seção Detalhes*/

#details {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    padding: 100px;
    background-size: cover;
    bottom: 50px;

}

.details-tittle {
    padding: 100px;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 4rem;
    position: relative;
    bottom: 75px;

}
    
.details-class header {
    position: relative;
    margin: 10px;
   

}

.details-class h1{
    font-size: 6rem;
    text-align: center;
}
.details-class h2{
    font-size: 3rem;
    text-align: left;
}

.details-img {
    margin: 10px;
}

#details .details-info1 {
    background-image: linear-gradient(60deg, #fc5424 0%, #fc6434 100%);
    color: white;
    height:  100%;
    padding: 2rem;
    width: 100%;
    position: relative;
    bottom: 100px;
}

#details .details-info2 {
    background-image: linear-gradient(60deg, #2965f1 0%, #264de4 100%);
    color: white;
    height:  auto;
    padding: 2rem;
    position: relative;
    bottom: 75px;
}

#details .details-info3 {
    background-image: linear-gradient(60deg, #f7df1e 0%, #f7df1e 100%);
    color: black;
    height:  auto;
    padding: 2rem;
    position: relative;
    bottom: 50px;

}
#details .details-info4 {
    background-image: linear-gradient(60deg, #366c9b 0%, #366c9b 100%);
    color: black;
    height:  auto;
    padding: 2rem;
    position: relative;
    bottom:25px;
}


#buy {
    display: inline-block;
    margin-right: 5px;
    padding: 10px 30px;
    color: black;
    background-color: transparent;
    border: 2px solid  black;
    left: 300px;
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-top: 2px;
    transition: .5s;
}

#buy:hover {
    color: white;
    font-weight: 500;
    background-color: black;
}


/*KEYFRAMS*/

@keyframes text_reveal {
    100%{
        color:white;   /*Aqui está 100% e mudando a cor pq o texto original está como transparent,
                           que é uma forma do texto só aparecer depois da animação*/
    }   
}


@keyframes text_reveal_name {
    100%{
        color: gold;
        font-size: 35px;
        font-weight: 500px;
    }    
}


@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

/*Media Query*/

@media only screen and (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info {
        height: 100%;       
    }
    #portfolio .all-projects .project-img {
        height: 100%;
    }
    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}